.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    display:flex;
    align-items: center;
    z-index: 999999999;
    justify-content: center;
    box-sizing: border-box;

    input[type="checkbox"] {
         transform: scale(2);
    }

    input[type="text"] {
        display: flex;
        width: 100%;
        height: 32px;
        padding: 12px;
        align-items: center;
        border-radius: 12px;
        background: #E8EBF2;
        border: none;
        outline: none;
        color: #4F6696;
        font-family: "Public Sans", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
    
    }
  

    .innerContainer {
        background-color: white;
        width: 600px;
        height: 800px; 
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
     
        padding:16px;
        padding-top:48px;


        .form {
            width:100%;
            height:100%;
            display:flex;
            flex-direction:column;
            
            justify-content: flex-start;
            align-items: center;
            gap: 48px;

            .statusContainer {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

              .success {
                color: #4F6696;
                font-family: "Public Sans", sans-serif;
                font-size: 18px;
                font-weight: 600;
                line-height: 24px; 
                padding: 0px;
                margin: 0px;
              }

                .error {
                    color: #FF5C5C;
                    font-family: "Public Sans", sans-serif;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 24px; 
                    padding: 0px;
                    margin: 0px;
                }

            }
            
          h1 {
                font-size:32px;
                text-align: center;

          }

          .personsContainer {
            width:100%;
            height:auto;
            display:flex;
            flex-direction:column;
            gap: 8px;
          
            .person {
                width:100%;
                height:auto;
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-left:16px;
                padding-right:16px;
                border-radius: 8px;
                padding-top: 8px;
                padding-bottom: 8px;


                &:hover {
                    background-color: #E8EBF2;
                   
                }


                &.selected {
                    background-color: #E8EBF2;
                   
                }




                .leftSide {
                    width:auto;
                    height:auto;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    gap:16px;

                    .avatar {
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        width: 56px;
                        height: 56px;

                        img {
                            width:100%;
                            height:100%;
                            border-radius:50%;

                        }


                    }

                    .infoContainer {
                        width:auto;
                        height:auto;
                        display:flex;
                        align-items: flex-start;
                        justify-content: center;
                        flex-direction: column;
                        gap: 0px;
                        
                        .name {
                        color: #0D121C;
                      
                        font-family: "Public Sans", sans-serif;
                        font-size: 16px;
                     
                        font-weight: 500;
                        line-height: 24px; 
                        
                        }
                        .userId {
                            color: #4F6696;
                        
                            font-family: "Public Sans", sans-serif;
                            font-size: 14px;
                          
                            font-weight: 400;
                            line-height: 21px; 
                        }
                    }
                }
            }


            
          }
            

        }



    }
}